//
// Utilities

@import 'utils/functions';
@import 'utils/mixins';

//
// Variables

@import 'variables';

//
// Global styles

@import 'global/root';
@import 'global/typography';
@import 'global/forms';
@import 'global/layout';

//
// Components

@import 'components/avatar';
@import 'components/accordion-block';
@import 'components/button';
@import 'components/card';
@import 'components/dropdown-button';
@import 'components/form-indicator';
@import 'components/match-card';
@import 'components/match-group';
@import 'components/option-list';
@import 'components/league-table';
@import 'components/levels';
@import 'components/main-nav';
@import 'components/menu';
@import 'components/page';
@import 'components/page-header';
@import 'components/pane';
@import 'components/popover';
@import 'components/search-box';
@import 'components/score';
@import 'components/tabs';
@import 'components/team-stats';

//
// Views

@import 'views/profile';

//
// Helpers

@import 'utils/helpers';
.org-btn {
    background: #E99648;
    color: #fff;
    padding: 10px 16px;
    border-radius: 5px;
    font-weight: 700;
    transition: 300ms;
}
.org-btn:hover{
    background: #f27e11;
}
.outline-btn {
    color: #fff;
    font-weight: 700;
    padding: 8px 16px;
    border: 2px solid #ffff;
    border-radius: 5px;
    transition: 300ms;
}
.outline-btn:hover {
    background: #fff;
    color: #000;
}